*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

.count{
    background-color: blue;
    display:flex;
    
    width:100%;
    height:auto;
    padding:5px 0px;

}
 .box img{
    
width: 510px;
height:666px;
padding:0px 5px;
}
.names{
    display:flex;
    align-items:center;
    justify-content:center;  
    padding:21px 775px;
    gap:405px;
    font-size:36px;
}
.namo{
    display:flex;
    flex-direction: column;
}



@media only screen and (max-width:768px){
    .count {
        width:200vw;
    }
}